---
---

html, body {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	min-height: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

// Tachyons Css Toolkit
@import "tachyons";

$normalista-silver: #F6F6F6 !default;
$normalista-dark-grey: #323333 !default;
$terracotta: #E4655A !default;

.light-silver { color: $normalista-silver; }

.bg-grey {			background-color: 		#F6F6F6;}
.bg-terracotta {	background-color:		$terracotta }

.roboto {			font-family: 			'Roboto', 'helvetica neue', helvetica, sans-serif;}

.masthead {	
					min-height:				540px;
					height:					540px;
					margin-bottom: 			-115px;
}

.f7 { font-size: .667rem; }


.homework {
	.content {
		p {
			@extend .w-80;
			@extend .f5;
						line-height:			1.85;
		}
		
		@media #{$breakpoint-not-small} {

		}

		@media #{$breakpoint-medium} {

		}

		@media #{$breakpoint-large} {

		}

		ul, ol {
			@extend p;
			@extend .pv3;
			@extend .fw4;
		}
	}
}

footer {
	background-color: white;
	
	ul {
		padding: 0;
		margin: 0;
		text-align: right;
		li {
			display: inline;
		}

	}

}
