<footer>
	<div class="back-to-top tr pv5 pr5 back"><a href="" class="no-underline">Back to the top</a></div>
	<ul class="pt5 pb4 pr5 bb b--near-white">
		<li class="pl4 f6-l"><a href="" class="no-underline">More skills homeworks</a></li>
		<li class="pl4 f6-l"><a href="" class="no-underline">Syllabus</a></li>
		<li class="pl4 f6-l"><a href="" class="no-underline">Tutorials</a></li>
		<li class="pl4 f6-l"><a href="" class="no-underline">Graduate School of Journalism</a></li>
	</ul>
	<div class="logo"></div>
	<div class="site-title tr pt5 pr5 pb5 f6-l">{{ site.title }}</div>
</footer>