<div class="">
  <nav class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li><a href="{{site.baseurl}}/">{{site.title}}, {{site.semester}}</a></li>
        <li><a href="{{site.baseurl}}/syllabus">Syllabus</a></li>
        <!--<li><a href="/duedates">Due Dates</a></li>-->
        <li><a href="{{site.baseurl}}/presentations/16_final_project/index.html">Final project</a></li>
        <li><a href="{{site.baseurl}}/policies">Policies</a></li>
      </ul>
    </div>
  </nav>
</div>