---
layout: default
---

<!-- weekly plans including class plans, readings of the week and assignment of the week -->
<!-- tags are specifically reserved for grouping weekly content -->
<!-- see posts in assignments, classplans, and readings  -->
{% for post in site.categories.weekly reversed %}
{% if post.visible==1 %}
{% capture timetag%}{{post.tags}}{% endcapture%}
<section class="weekly">
  <h1>{{post.title}}</h1>
  <p>{{post.content | markdownify}}</p>
</section>
<section class="reading">
  {% for reading in site.categories.reading %}
    {% if reading.tags contains timetag %}
    <label>Reading</label>
    {{reading}}
    {% endif %}
  {% endfor %}
</section>
<section class="assignment">
  {% for assn in site.categories.assignment %}
    {% if assn.tags contains timetag %}
      <label>Assignment</label>
      <a href="{{assn.permalink}}">{{assn.title}}</a>
    {% endif %}
  {% endfor %}
</section>
{% endif %}
{% endfor %}

<!-- recommended reading for the semester -->
<hr>
<section class="general">
  {% for post in site.categories.reading %}
    {% if post.tags contains "recommended" %}
    {{post.content}}
    {% endif %}
  {% endfor %}
</section>
